html { 
    background:url("background.jpg"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

body {
    color: #bdbdbd;
    font-family: "Indie Flower", serif;
    background-color: transparent;
    height: 100%;
    
}

h1#app-name {
    font-size:200px;
    margin-top: 100px;
}

#page-header {
    font-size: 50px;
    padding-bottom:60px;
}

body .container {
    padding-top:100px;
    background-color:rgba(55,55,55,0.5);
    text-align: center;
    height: 100%;
    width:100%;
}

h3#header{
    padding-top:20px;
    font-size:80px;
}

#about{
    font-size:46px;
    background: rgba(255,255,255,0.5);
    color: black;
}
.btn-wrapper {
    padding: 20px 0;
    font-family: Arial, Helvetica, sans-serif
}

button#tryAgainbtn {
    display:none;
}

.cat-btn{
    color: black;
    display: inline-block;
    vertical-align: top;
    height: 100px;
    width: 100px;
    font-size:30px;
    text-align: center;
    font-weight:bold;
    
}

#lovebtn{
    background:url("love.png");
    background-size:cover;
}

#funnybtn{
    background:url("laughing.png");
    background-color:white;
    background-size:cover;
}
input#my-file-selector {
    display:none;
}

/*--Header section (navigation bar) */
.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: dimgrey;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity:0.9;
}

.navbar li a, .navbar .navbar-brand { 
    color: black !important;
}

.navbar-nav li a:hover {
    color: darkgrey !important;
}

.navbar-nav li a:active{
    background-color: lightgrey !important;
}

.navbar-nav li.active a {
    color: black !important;
    background-color: darkgrey !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.open .dropdown-toggle {
    color: #fff ;
    background-color: lightgrey !important;
}

.dropdown-menu li a {
    color: #000 !important;
}

.dropdown-menu li a:hover {
    background-color: lightgrey !important;
}